<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                    <a class="nav-link" routerLink="/home">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                <div class="sb-sidenav-menu-heading">Serviços</div>
                    <a class="nav-link collapsed" routerLink="/servico1" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Servico 1                   
                </a>                                             
            </div>
            
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Relatórios</div>
                <a class="nav-link" routerLink="/relatorio1">
                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>

                </a>               

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDesenvolvedores" aria-expanded="false" aria-controls="collapseDesenvolvedores">
                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div> -
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseDesenvolvedores" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">                        
                            <a class="nav-link" routerLink="/relatorios/desenvolvedor-projetos">-</a>
                    </nav>
                </div>
               
            </div>    
            <div class="nav" *ngIf="role === 'ADMIN'">
                <div class="sb-sidenav-menu-heading">Configurações</div>
                <a class="nav-link" routerLink="/usuarios"><div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Usuários</a>
            </div>                  

            <div class="nav">
                <div class="sb-sidenav-menu-heading">Logout</div>
                <a class="nav-link collapsed"  href="#" (click)="onLogout()"
                data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                  <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                      Sair
                </a>    
            </div>
            
             
            </div>
        <div class="sb-sidenav-footer">
            <div class="small">Usuario Logado:</div>
            {{ usuarioLogado }} 
        </div>
    </nav>
</div>
