<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">            
            <div class="nav">
                <div *ngFor="let nivel1 of menuItems">
                    <div class="sb-sidenav-menu-heading">{{ nivel1.label }}</div>                    
                    
                    <div *ngFor="let nivel2 of nivel1.children">
                        <!-- Links sem filhos -->
                        <div *ngIf="!nivel2.children">
                            <a class="nav-link" [routerLink]="nivel2.route">
                                <div class="sb-nav-link-icon"><i class="{{ nivel2.icon }}"></i></div>
                                {{ nivel2.label }}
                            </a>
                        </div>

                        <!-- Links com filhos -->
                        <div *ngIf="nivel2.children">                        

                            <a class="nav-link" href="#" 
                                (click)="toggleMenu(nivel2)"
                                [class.collapsed]="!nivel2.expanded" 
                                [attr.aria-expanded]="nivel2.expanded">
                                    <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                                    {{ nivel2.label }}
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>

                            <div [ngClass]="{'collapse': true, 'show': nivel2.expanded}" id="menu-{{nivel2.label}}">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" *ngFor="let nivel3 of nivel2.children" 
                                       [routerLink]="nivel3.route">
                                        {{ nivel3.label }}
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Logout -->
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Logout</div>
                <a class="nav-link" href="#" (click)="onLogout()">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                    Sair
                </a>    
            </div>
        </div>

        <!-- Rodapé -->
        <div class="sb-sidenav-footer">
            <div class="small">Usuário Logado:</div>
            {{ usuarioLogado }} 
        </div>
    </nav>
</div>
